secrets:
  github-app:
    github_com:
      api_url: https://api.github.com
      app_id: ...
      mappings:
        - installation_id: ...
          org: ...
      private_key: |
        -----BEGIN RSA PRIVATE KEY-----
        ...
        -----END RSA PRIVATE KEY-----
  oauth-cfg:
    local:
      client_id: Iv...
      client_secret: ...
      api_url: https://api.github.com
      type: github
      name: GitHub
      role_bindings:
        - roles:
            - admin
          subjects:
            - type: github-user
              name: ... (your user name)
            - type: github-app
              name: ... (your app name)
